# Node
node_modules
package-lock.json

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Special
.gulp
.idea
.vscode
Thumbs.db
Desktop.ini
.DS_Store*
ehthumbs.db
Icon?
.tmp.*

# Yolanart Public
_old
.files
#dev/assets/medias
yolanare.github.io