@import './assets/fonts.scss';
@import './assets/default-custom.scss';
@import './assets/overlayscrollbars.scss';
@import './assets/error-frame.scss';

:root {
    --y-w1: rgb(236, 239, 242);
    --y-w2: rgb(250, 253, 255);
    --y-b1: rgb(29, 27, 27);
    --y-b2: rgb(40, 42, 45);
    --y-rv: 239, 59, 102;
    --y-r1: rgb(var(--y-rv));

    --p-needbg-default: var(--y-b1);

    --title-weight: 650;
    --title-lineH: 0.95;

    --pill_bg: var(var(--y-b2));

    --plist-p: 5rem;
    --plist-ptop: 1rem;
    --plist-pbottom: 10rem;

    --scroll-quick-tr: 0.25s cubic-bezier(0.05, 1, 0.3, 1);
    --scroll-ice-tr: 1s cubic-bezier(0, 1, 0.5, 1);
    --scroll-plist: var(--scroll-ice-tr);
}
html {
    .isTouch {
        --scroll-plist: none; // "smooth" scrolling is fucked up with touch scroll
    }
}

::selection {
    color: white;
    background-color: rgba(var(--y-rv), 1);
    //background-color: var(--y-b1);
}
html {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}
body {
    margin: 0;
    background-color: var(--y-b1);
    color: var(--y-w1);
    font-family: "Montserrat", sans-serif;
    font-size: clamp(8px, 0.85vw, 10px);
    font-weight: 600;
    line-height: 1;
    -webkit-tap-highlight-color: transparent;
    overflow-x: hidden;
}

.dummy {
    position: fixed;
    opacity: 0;
    transition: none;
    pointer-events: none;
    user-select: none;
}

// HIERARCHY
.content-sections#landing { z-index: 0; }
.content-sections#recent-projects { z-index: 0; }
.content-sections#filters { z-index: 0; }
.content-sections#contact { z-index: 0; }
nav.menu { z-index: 90; } // ontop page main content, under everything else
[boom-main-container] { z-index: 89; } // under nav
[bubble-tips-container] { z-index: 900; } // ontop everything
[video-popups-container] { z-index: 500; } // ontop everything, under other tools
[project-files-container] { z-index: 80; } // ontop page main content

// NAV
nav.menu {
    position: fixed;
    width: var(--plist-p);
    min-width: 3rem;
    top: 0;
    right: 0;
    user-select: none;
    pointer-events: none;

    & > * {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 100%;
        height: var(--plist-p);
        min-height: 3rem;
        top: 0;
        right: 1px;
        font-size: 1.5em;
        font-weight: 450;
        outline: var(--y-w1) 1px solid;
        outline-offset: -1px;
        background-color: transparent;
        cursor: pointer;
        pointer-events: all;
    }
}


// CONTENT
#content-container {
    position: absolute !important;
    width: 100%;
    height: 100%;
    overflow-y: visible;
    overflow-x: hidden;
}

.content-sections {
    margin: 0;
    position: relative;
    width: 100%;
    min-height: 100vh;
}
//.content-sections#landing {
//    background-color: rgba(255,0,0,0.1);
//}
//.content-sections#recent-projects {
//    background-color: rgba(0,255,0,0.1);
//}
//.content-sections#filters {
//    background-color: rgba(0,0,255,0.1);
//}
.content-sections#contact {
    background-color: rgba(0,0,0,1);
}

[class*="title-"] {
    display: inline-block;
    text-transform: lowercase;
    font-weight: var(--title-weight);
    line-height: var(--title-lineH);
    user-select: none;
    pointer-events: none;
}


// FILTER PILLS
// defaults
.prj-pill {
    --pill-c: var(--y-w1);
    --pill-bg: var(--y-b2);
}
.prj-pill[context-id] {
    border-radius: 0.3em;
}

[filter-id="experiment"] {
    --pill-bg: #a50000;
}
[filter-id="photo"] {
    --pill-bg: #008f00;
}
[filter-id="illustration"] {
    --pill-bg: #ba6e16;
}
[filter-id="logo"] {
    --pill-bg: #2278b0;
}

.prj-pill {
    overflow: hidden;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    flex-shrink: 0;
    vertical-align: middle;
    position: relative;
    margin: 0.3em 0;
    margin-right: 0.5em;
    &:first-child { margin-left: 0; }
    padding: 0.25em 0.75em;
    border-radius: 99em;
    font-size: 1em;
    font-weight: 450;
    letter-spacing: -0.25px;
    white-space: nowrap;
    color: var(--pill-c);
    background-color: var(--pill-bg);
    cursor: pointer;
    user-select: none;
    transition: color 0.7s cubic-bezier(0.2, 0.6, 0, 1),
                background-color 0.7s cubic-bezier(0.2, 0.6, 0, 1);

    & > * {
        pointer-events: none;
    }
    & > *:not(:last-child) {
        margin-right: 0.35em;
    }
    & > svg { // vector icons
        position: relative;
        bottom: 0.03em;
        width: 1em;
        height: 1em;
        fill: var(--pill-c);

        &.stroke {
            fill: none;
            stroke-width: 2;
            stroke: var(--pill-c);
        }
    }
    & > img { // img icons
        width: 1em;
        height: 1em;
        object-fit: contain;
    }
    & > span { // label
        white-space: nowrap;
        display: inline-block;
    }
}
.prj-pill.filter:hover,
.prj-pill.filter[state="true"] {
    color: var(--y-b1);
    background-color: var(--y-w1);
    transition: color 0.6s cubic-bezier(0.1, 0.6, 0, 1),
                background-color 0.6s cubic-bezier(0.1, 0.6, 0, 1);
}
.prj-pill.date {
    & > svg {
        bottom: 0;
        transform: rotateZ(0deg);
        transition: transform 1.2s cubic-bezier(0.7, 0.8, 0, 1);
    }
    &[state="true"] > svg {
        transform: rotateZ(900deg);
    }
}
.prj-pill[context-id]:hover,
.prj-pill[context-id][state="true"] {
    color: var(--y-w1);
    background-color: var(--y-r1);
    transition: color 0.6s cubic-bezier(0.1, 0.6, 0, 1),
                background-color 0.6s cubic-bezier(0.1, 0.6, 0, 1);
}


// BOOM
[boom-main-container] {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    user-select: none;
    pointer-events: none;
}

.boom {
    --boom-x: 50vw;
    --boom-y: 50vh;
    --boom-rotate: 0deg;
    left: var(--boom-x);
    top: var(--boom-y);
    transform: rotateZ(var(--boom-rotate));

    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    transition: 0s;

    .circle {
        --boom-fadeout-time: 1300ms;
        --boom-size: 0px;
        width: var(--boom-size);
        height: var(--boom-size);

        position: absolute;
        border-radius: 999vw;
        transition: 0s;

        // default values
        --tr-boom-grow: 1s cubic-bezier(0.375, 0.7, 0, 1);
        --tr-boom-color: 0.65s 0.125s cubic-bezier(0.5, 0.7, 0, 1);

        opacity: 0.3;
        background-color: var(--y-r1);
        &.final-style {
            background-color: var(--y-w1);

            transition: width var(--tr-boom-grow), height var(--tr-boom-grow),
                        opacity var(--boom-fadeout-time) ease-in-out,
                        background-color var(--tr-boom-color);
        }
    }

    &.languageButton {
        .circle {
            opacity: 0.5;
            background-color: var(--y-w1);
            --tr-boom-color: 1s 0.125s cubic-bezier(0.5, 0.7, 0, 1);
            &.final-style {
                background-color: var(--y-r1);
            }
        }
    }
}


// BUBBLE TIPS
[bubble-tips-container] {
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    pointer-events: none;
    user-select: none;
}

.bubble-tip {
    --bubble-offset: 3.5rem;
    --point-offset: -3rem;
    &.reverse {
        --bubble-offset: -3.5rem;
        --point-offset: 3rem;
    }

    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    font-size: 1.5rem;
    font-weight: 500;
    transform: translateY(var(--bubble-offset));
    transform-origin: center;
    opacity: 1;
    transition: 0s;

    & > * {
        transform: translate(-50%, -50%) scale(1);
        transform-origin: center;
    }

    .point {
        position: absolute;
        width: 0.75em;
        height: 0.75em;
        top: 0;
        left: 0;
        border-radius: 50%;
        transition: opacity 0.3s ease,
                    transform 0.45s cubic-bezier(0.4, 0.3, 0, 1);
    }

    .content {
        --delay: 0.15s;

        position: absolute;
        top: 0;
        left: 0;
        padding: 0.4em 1.15em;
        text-align: center;
        white-space: nowrap;
        transition: transform 0.8s var(--delay) cubic-bezier(0.4, 0.7, 0, 1),
                    transform-origin 0s;

        & > * {
            transform: scale(1);
            transition: transform 1.2s var(--delay) cubic-bezier(0.3, 0.7, 0, 1),
                        opacity 0.5s calc(var(--delay) + 0.175s) ease;
        }

        span {
            opacity: 1;
        }
        .bg {
            z-index: -1;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 9em;
        }
    }

    color: var(--y-b1);
    .point, .content .bg {
        background-color: var(--y-w1);
    }

    &.anim-pre {
        &, & * {
            transition: 0s !important;
        }
        .point {
            opacity: 0;
            transform: translate(-50%, var(--point-offset)) scale(0.35);
        }
        .content {
            transform: translate(-50%, -50%) scale(0, 0);

            & > * {
                transform: scaleX(0);
            }
            span {
                opacity: 0;
            }
        }
    }

    &.anim-clear {
        opacity: 0;
        transition: opacity 0.4s;

        .content {
            transform: translate(-50%, -50%) scale(0.9, 0.75);
            transition: transform 1s cubic-bezier(0.4, 0.6, 0, 1),
                        opacity 0.5s;
            span {
                opacity: 0;
                transition: opacity 0.3s 0.1s;
            }
        }
    }

    &.normal-scale {
        position: fixed !important;
        top: -100vh !important;
        left: -100vw !important;

        &, & * {
            transform: scale(1) !important;
            transition: 0s !important;
        }
    }
}


// CURSOR CROSS
.cursor-cross {
    position: fixed;
    transform: translate(-50%, -50%) scale(0);
    width: 3.3rem;
    height: 3.3rem;
    stroke: var(--y-w1);
    stroke-width: 0;
    opacity: 0;
    transition: transform 0.6s cubic-bezier(0.2, 0.75, 0, 1),
                stroke-width 0.5s cubic-bezier(0.1, 0.6, 0, 1),
                opacity 0.4s;
    pointer-events: none;
    user-select: none;

    & svg,
    & svg > g {
        transform: rotateZ(0deg);
        transition: transform 0.2s linear;
    }

    @keyframes curClose-Spin {
        0% { transform: rotateZ(-180deg); }
        100% { transform: rotateZ(0deg); }
    }

    &.hover:not(.hidden) {
        stroke-width: 2.75;
        opacity: 1;
        transform: translate(-50%, -50%) scale(1.325);
        transition: transform 0.4s cubic-bezier(0.5, 0.7, 0, 1),
                    stroke-width 0.1s ease,
                    opacity 0s;

        & svg > g {
            animation: curClose-Spin 0.4s cubic-bezier(0.25, 0.85, 0, 1);
            transform-origin: center;
        }
    }

    &.click {
        & svg {
            stroke-width: 4.5 !important;
            transform: scale(1.25);
            transition: transform 0.4s cubic-bezier(0, 0.7, 0, 1),
                        stroke-width 0.4s cubic-bezier(0, 0.7, 0, 1);
        }
    }
}


// QUICK VIDEO POPUPS
[video-popups-container] {
    position: fixed;
    width: 0;
    height: 0;
    top: 0;
    left: 0;
    overflow: hidden;
    pointer-events: none;
    user-select: none;

    .video-popup {
        --tr-transform: 0.8s cubic-bezier(0.7, 0.7, 0, 1);

        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        width: 0;
        height: 0;
        top: 50%;
        left: 50%;
        &:not(.anim-pre) {
            top: 50% !important;
            left: 50% !important;
        }
        pointer-events: all;
        user-select: none;

        opacity: 1;
        transition: opacity 0.6s,
                    top var(--tr-transform),
                    left var(--tr-transform);

        .bg {
            z-index: -1;
            position: fixed;
            width: 100vw;
            height: 100vh;
            top: 0;
            left: 0;
            background-color: rgba(0, 0, 0, 0.7);
            opacity: 1;
            transition: opacity 0.8s;
        }

        .ytplayer-c {
            position: absolute;
            width: 80vw;
            transform: scale(1);
            opacity: 1;
            transition: opacity 0.3s 0.1s,
                        transform var(--tr-transform);

            .ytplayer {
                background-color: var(--y-b1);

                & > iframe {
                    opacity: 1;
                    transition: opacity 1s 0.55s;
                }

                &::before, &::after {
                    opacity: 1;
                    transition: opacity 0.4s 2s;
                }
            }
        }

        &.anim-pre {
            &, & * { transition: 0s; }

            .bg {
                opacity: 0;
            }
            .ytplayer-c {
                opacity: 0;
                transform: scale(0.2);

                .ytplayer {
                    & > iframe,
                    &::before, &::after {
                        opacity: 0;
                    }
                }
            }
        }

        &.anim-clear {
            opacity: 0;
            transition: opacity 0.8s 0.1s,
                        top var(--tr-transform),
                        left var(--tr-transform);

            .ytplayer-c {
                opacity: 0;
                transform: scale(0.98, 0.90);
                transition: opacity 0.6s,
                            transform 0.8s cubic-bezier(0.2, 0.5, 0, 1);
            }

            &, & * {
                pointer-events: none !important;
            }
        }
    }
}


// YT PLAYER
.ytplayer-c {
    display: flex;
    width: 100%;
    height: 0%;
    transition-property: height;

    .ytplayer {
        position: relative;
        height: 100%;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        transition-property: transform, padding-bottom;

        width: 100%;
        padding-bottom: initial;

        &[aspect-ratio="16:9"] {
            width: 160vh;
            padding-bottom: 90.1vh;
        }
        &[aspect-ratio="1:1"] {
            width: 90vh;
            padding-bottom: 90.1vh;
        }

        & > iframe {
            position: absolute;
             // be sure to cover container
            top: -1px;
            left: -1px;
            width: calc(100% + 2px);
            height: calc(100% + 2px);
            //width: 100%;
            //height: 100%;
        }
    }
}


// REUSABLE
// FAKE PLAYER LOADING
@keyframes fakePlayerLoading {
    0% { transform: translate(-50%, -50%) rotateZ(0deg); }
    100% { transform: translate(-50%, -50%) rotateZ(360deg); }
}

.ytplayer { // <-- add elements here
    &::before, &::after {
        z-index: -1;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 52.5px;
        height: 52.5px;
        width: clamp(40px, 4.5vw, 65px);
        height: clamp(40px, 4.5vw, 65px);
    }

    &::before { // fill
        z-index: -2;
        content: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><polygon style="fill:rgb(255, 255, 255);" points="21,23.9 11,23.9 3.5,13.5 16,16 28.5,13.5"/></svg>');
    }

    &::after { // spinner
        border-radius: 99em;
        overflow: hidden;
        content: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path id="outer" style="fill:rgb(0, 0, 0);fill-rule:evenodd;clip-rule:evenodd;" d="M22.2,6.7l-2.1,5.9L17,16l3,3.5l2.1,5.9H9.8l2.1-5.9l3-3.5l-3-3.5L9.8,6.7H22.2 M32,0H0v32h32V0L32,0z"/><path id="border" style="fill:rgb(255, 255, 255);" d="M18.8,16l3,3c0.5,0.5,0.8,1.2,0.8,1.9l0,4.8c0,0.8-0.7,1.5-1.5,1.5H10.9c-0.8,0-1.5-0.7-1.5-1.5l0-4.8c0-0.7,0.3-1.4,0.8-1.9l3-3l-3-3c-0.5-0.5-0.8-1.2-0.8-1.9l0-4.8c0-0.8,0.7-1.5,1.5-1.5h10.2c0.8,0,1.5,0.7,1.5,1.5l0,4.8c0,0.7-0.3,1.4-0.8,1.9L18.8,16z M11.4,8.4l1.7,4l2.9,2.9l2.9-2.9l1.7-4H11.4z M20.6,23.6l-1.7-4L16,16.6l-2.9,2.9l-1.7,4H20.6z"/><path id="in" style="fill:rgb(0, 0, 0);fill-rule:evenodd;clip-rule:evenodd;" d="M16.8,16c0-0.2,0.1-0.4,0.2-0.6l3.1-3.1c0.5-0.5,0.8-1.2,0.8-1.9l0-2.3H11l0,2.4c0,0.7,0.3,1.4,0.8,1.9l3.1,3.1c0.2,0.2,0.2,0.4,0.2,0.6s-0.1,0.4-0.2,0.6l-3.1,3.1c-0.5,0.5-0.8,1.2-0.8,1.9l0,2.4H21l0-2.4c0-0.7-0.3-1.4-0.8-1.9l-3.1-3.1C16.9,16.4,16.8,16.2,16.8,16z M12.7,9.7L12.7,9.7c0,0.7,0.3,1.4,0.8,1.9l2.5,2.5l2.5-2.5c0.5-0.5,0.8-1.2,0.8-1.9v0H12.7z M19.3,22.3L19.3,22.3c0-0.7-0.3-1.4-0.8-1.9L16,17.9l-2.5,2.5c-0.5,0.5-0.8,1.2-0.8,1.9l0,0H19.3z"/></svg>');
        animation: fakePlayerLoading 1.4s cubic-bezier(0.5, 0.4, 0, 0.4) infinite;
    }
}


// filters container
.filters {
    display: inline-block;
    user-select: none;
    pointer-events: all;
}
.no-f .filters {
    pointer-events: none;
}

.project-title {
    display: block;
    font-weight: 500;
    text-transform: lowercase; // TODO temporary
}
.thumbnail {
    position: relative;
    overflow: hidden;
    pointer-events: none;
    user-select: none;

    & > img {
        width: 100%;
        min-height: 5em;
        object-fit: contain;
    }
}


// LANDING (TEMPORARY)
.content-sections#landing {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 8em;
    user-select: none;

    .main-title {
        font-size: 1em;
        font-weight: 600;
    }
    .scroll-down-notice {
        position: absolute;
        bottom: 5em;
        font-size: 0.25em;
        font-weight: 400;
    }
}


// RECENT WORKS
.content-sections#recent-projects {
    overflow: hidden;
    --col1-w: calc(100% * (3 / 7));

    .col1, .col2 {
        position: absolute;

        & {
            pointer-events: none;

            & > .in > * {
                pointer-events: all;
            }
        }
    }
    .col1 {
        z-index: 2;
        top: 0;
        left: 0;
        width: var(--col1-w);
        max-width: var(--col1-w);
        height: 100%;
        //background-color: rgba(0,0,0,0.3);
    }
    .col2 {
        z-index: 1;
        top: 0;
        right: 0;
        width: 100%;
        height: 100vh;

        .in {
            position: relative;
            left: var(--col1-w);
            width: calc(100% - var(--col1-w));
        }
    }

    #intro-rp {
        font-size: 2.5em;

        .in {
            padding: 3em;
            box-sizing: border-box;

            &.sticky-fixed {
                width: inherit;
            }
            &:not(.sticky-fixed) {
                width: 100%;
            }
        }

        .title-recent {
            font-size: clamp(3em, 7.75vw, 4em);
            pointer-events: none;
        }

        .goto_filters-txt {
            display: inline-flex;
            align-items: center;
            margin-top: 2.5em;
            font-size: 0.9em;
            font-weight: 500;
            letter-spacing: 0px;
            cursor: pointer;
            user-select: none;
            transition: font-weight 0.6s cubic-bezier(0.35, 0.5, 0, 1),
                        letter-spacing 0.6s cubic-bezier(0.3, 0.5, 0, 1);

            .arrow-right {
                overflow: visible;
                position: relative;
                left: 0.2em;
                height: 0.85em;
                fill: none;
                stroke-width: 3;
                stroke: var(--y-w1);
                transition: stroke-width 0.6s cubic-bezier(0.3, 0.6, 0, 1),
                            transform 0.55s cubic-bezier(0.3, 0.7, 0, 1);
            }

            &:hover {
                font-weight: 800;
                letter-spacing: -0.4px;
                transition: font-weight 0.4s cubic-bezier(0.35, 0.4, 0, 1),
                            letter-spacing 0.4s cubic-bezier(0.4, 0.4, 0, 1);

                .arrow-right {
                    stroke-width: 5;
                    transform: translateX(0.45em);
                    transition: stroke-width 0.5s cubic-bezier(0.3, 0.6, 0, 1),
                                transform 0.4s cubic-bezier(0.2, 0.6, 0, 1);
                }
            }
            &:hover:active {

                .arrow-right {
                    transform: translateX(0.15em);
                    transition: stroke-width 0.5s cubic-bezier(0.3, 0.6, 0, 1),
                                transform 0.3s cubic-bezier(0, 0.7, 0, 1);
                }
            }
        }
    }

    #recent-projects-slides {
        z-index: 1;

        .recent-slides {
            position: absolute;
            width: 100%;
            height: 100vh;
            font-size: 1.75em;
            transition: top var(--scroll-quick-tr);

            .in {
                height: inherit;
            }

            .thumbnail {
                --h : calc(100% * (2 / 3));
                height: var(--h);
                max-height: var(--h);

                & img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .project-title {
                display: block;
                margin: 0.4em 0 0.3em;
                font-size: 3.5em;
                font-weight: 500;
                text-transform: lowercase;
            }
        }
    }

    #recent-projects-actions {
        z-index: 0;
        position: absolute;
        top: 0;
        // left: var(--col1-w);
        // width: calc(100% - var(--col1-w));
        height: 100%;
        opacity: 0;

        .in {
            height: 100%;
        }

        & .actions[project-id] {
            display: block;
            position: relative;
            width: 100%;
            cursor: pointer;
        }
    }

    #recent-projects-slides,
    #recent-projects-actions {
        transition: transform var(--scroll-quick-tr);
    }
}


// FILTERS
.content-sections#filters {
    #intro-filters {
        z-index: 1;
        position: relative;
        width: 100%;
        height: 100vh;
        pointer-events: none;

        .in {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            position: absolute;
            box-sizing: border-box;
            top: 0;
            left: 0;
            width: 100%;
            height: 50%;
            padding: 0 var(--plist-p);
            text-align: left;
            font-size: 2em;
            transition: font-size var(--scroll-quick-tr);

            //&.sticky-end { // projects-list snapping
            //    font-size: 1.7em;
            //}

            .title-filters {
                margin-bottom: 0.75em;
                font-size: clamp(2.5em, 7.75vw, 3.5em);
            }

            .filters-selector {
                display: flex;
                flex-direction: column;
                width: 100%;
                user-select: none;

                .prj-pill {
                    pointer-events: all;
                }

                .secondary {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    margin-top: 0.65em;
                    font-size: 1em;
                    overflow: hidden;

                    & .animate {
                        height: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        transform: translateY(0);
                        transition: transform 0.6s cubic-bezier(0.15, 0.5, 0, 1);
                    }
                    &.hidden {
                        .animate {
                            transform: translateY(-100%);
                            transition: transform 0.75s cubic-bezier(0.45, 0, 0, 1);
                            transition-delay: 0s !important;
                        }
                    }
                }

                .clear-filters-button {
                    --pill-bg: var(--y-w1);
                    --pill-c: var(--y-b2);
                }

                .filter-projects-number {
                    margin-left: 0.25em;
                    font-size: 1em;
                    font-weight: 325;
                    letter-spacing: -0.1px;
                    pointer-events: none;
                    & > * {
                        opacity: 0.5;
                    }

                    [anim-count] {
                        display: inline-block;
                        margin-right: 0;
                        padding-right: 0.3em; // space
                        transition: opacity 0.5s ease, color 0.5s ease,
                                    font-weight 0.4s cubic-bezier(0.35, 0.4, 0, 1),
                                    margin-right 0.7s cubic-bezier(0.25, 0.7, 0, 1);

                        &.counting {
                            margin-right: 0.15em;
                            font-weight: 600;
                            opacity: 1;
                            color: var(--y-r1);
                            transition: opacity 0.5s ease, color 0.5s ease,
                                        font-weight 0.4s cubic-bezier(0.35, 0.4, 0, 1),
                                        margin-right 0.5s cubic-bezier(0.2, 0.6, 0, 1);
                        }
                        &.none {
                            @keyframes none-count {
                                0% { transform: translateX(0em); }
                                    6% { transform: translateX(-0.25em); }
                                        13% { transform: translateX(0.075em); }
                                    20% { transform: translateX(-0.15em); }
                                        35% { transform: translateX(0.05em); }
                                    60% { transform: translateX(-0.025em); }
                                        80% { transform: translateX(0.005em); }
                                100% { transform: translateX(0em); }
                            }
                            animation: none-count 1.75s 0s ease;
                            transform: translateX(0);
                            margin-right: 0.06em;
                            font-weight: 550;
                            opacity: 0.75;
                            color: #ff0000;
                        }
                    }
                }
            }
        }
    }

    #projects-list {
        position: relative;
        padding: var(--plist-p);
        padding-top: var(--plist-ptop);
        padding-bottom: var(--plist-pbottom);
        width: 100%;
        box-sizing: border-box;
        transition: height 0.6s cubic-bezier(0.2, 0.65, 0, 1);

        .ice-scroll {
            transform: translateY(calc(var(--ice-scroll-offset, 0) / 2));
            transition: transform var(--scroll-plist);
        }

        .projects-list {
            position: relative;
            top: 0;
            left: 0;
            width: 100%;
            transition: opacity 0.35s ease,
                        transform 1.2s cubic-bezier(0.3, 0.7, 0, 1);
        }

        [column-group] {
            position: relative;
            top: 0;
            left: 0;
            // display: flex;
            // flex-direction: row;
            display: grid;
            grid-auto-rows: minmax(min-content, max-content);

            &.hidden, &[column-group="1"] {
                display: none;
                position: absolute;
            }
        }
        [column] {
            display: flex;
            flex-direction: column;
            //flex: 1;
            box-sizing: border-box;

            &:not(:last-child) { padding-right: 2.5em; }
            transition: transform var(--scroll-plist);

            & {
                transform: translateY(calc(var(--ice-scroll-offset, 0) / 3));
            }
            &:nth-child(2n+2) {
                transform: translateY(var(--ice-scroll-offset, 0));

                .isChr & {
                    transform: translateY(calc(var(--ice-scroll-offset, 0) * 1.75));
                }
            }
        }

        .project-cards {
            display: flex;
            flex-direction: column;
            position: relative;
            width: 100%;
            font-size: 1.4em;
            margin-bottom: 4em;
            box-sizing: border-box;
            user-select: none;

            .in {
                cursor: pointer;

                &:hover {
                    background-color: gray;
                }
            }

            .thumbnail {

                > * {
                    border-radius: 2px;
                }
            }

            .header {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                font-size: 2em;
            }

            .project-title {
                font-size: 1em;
                font-weight: 400;
                margin: 0.5em 0;
                position: relative;
                display: inline-block;
            }

            .video-quick-popup-button {
                position: relative;
                flex-shrink: 0;
                width: 1em;
                height: 1em;
                margin: 0.5em 0;
                margin-left: 0.33em;
                border-radius: 50%;
                overflow: hidden;
                cursor: pointer;

                transform: scale(1);
                transition: 0.6s cubic-bezier(0.15, 0.7, 0, 1);

                & > * {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                }

                .bg {
                    background-color: var(--y-w1);
                }

                .arrow {
                    fill: var(--y-b1);
                    transform: scale(0.5);
                    transition: transform 0.8s cubic-bezier(0.5, 0.7, 0, 1);
                }
                .bg::after {
                    content: "";
                    position: absolute;
                    width: 50%;
                    height: 50%;
                    top: 50%;
                    left: 50%;
                    border-radius: 50%;
                    background-color: var(--y-b1);
                    transform: translate(-50%, -50%) scale(0);
                    transform-origin: 40% 50%;
                    transition: transform 0.8s cubic-bezier(0.1, 0.7, 0, 1);
                }

                &:hover {
                    transform: scale(1.2);
                    border-radius: 25%;
                    transition: 0.7s cubic-bezier(0.05, 0.7, 0, 1);

                    .arrow {
                        transform: scale(0.2);
                    }
                    .bg::after {
                        transform: translate(-50%, -50%) scale(1);
                    }
                }
            }

            .filters {
                .prj-pill {
                    margin: 0.2em 0;
                    margin-right: 0.4em;
                }
            }
        }

        .nothing-found {
            user-select: none;
            pointer-events: none;
            opacity: 0.4;
            transition: opacity 2s cubic-bezier(0.4, 0.4, 0, 1),
                        transform var(--scroll-plist);

            .content-container {
                padding: 5rem 0 12rem;
            }

            .title {
                display: inline-block;
                font-weight: 400;
                font-size: 5em;
                margin-bottom: 0.4em;
                opacity: 1;
                transform: translate(0);
                transition: opacity 0.4s ease,
                            color 0.6s ease,
                            transform 1.5s cubic-bezier(0.2, 0.7, 0, 1),
                            font-weight 1.5s cubic-bezier(0.2, 0.7, 0, 1);
            }

            .txt {
                font-size: 2em;
                font-weight: 450;

                .words {
                    display: inline-block;
                    opacity: 1;
                    transform: translate(0);
                    transition: opacity 0.4s ease,
                                transform 1s cubic-bezier(0.35, 0.5, 0, 1);
                }
            }
        }

        // animations
        .project-cards {
            opacity: 1;
            transform: translateY(0);
            transition: opacity 0.4s ease,
                        transform 1.2s cubic-bezier(0.3, 0.6, 0, 1);
        }

        .anim-pre {
            .project-cards {
                opacity: 0;
                transform: translateY(20rem);
            }
            &.nothing-found {
                opacity: 1;

                .title, .words {
                    opacity: 0;
                    transform: translateY(1em);
                }
                .title {
                    font-weight: 900;
                    color: var(--y-r1);
                }
            }
        }
        .anim-clear {
            position: absolute;
            box-sizing: border-box;
            padding: inherit;
            opacity: 0;
            transform: translateY(-5rem) scaleY(0.935);
            transform-origin: top;
            pointer-events: none;
        }
    }
}


// PROJECT FILES
[project-files-container] {
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    pointer-events: none;
    user-select: text;

    .project-files {
        --file-padding-topbottom: 10rem;
        --file-padding-leftright: 5rem;
        --header-ptitle-size: 6.5rem;
        --header-ptitle-margin-bottom: 2.25rem;

        position: absolute;
        top: 0;
        left: 0;
        min-height: 100vh;
        width: 100vw;
        background-color: var(--y-b1);
        pointer-events: all;

        .close-file-btn {
            z-index: 10;
            position: absolute;
            top: 5rem;
            right: 5rem;
            width: 3.5rem;
            height: 3.5rem;
            cursor: pointer;

            svg {
                fill: none;
                stroke-width: 1.75;
                stroke: var(--y-w1);
                transition: stroke-width 0.6s cubic-bezier(0.1, 0.6, 0, 1);
                overflow: visible;
            }

            &:hover {
                svg {
                    stroke-width: 5;
                }
            }
        }

        .file {
            display: block;
            //display: flex;
            //flex-direction: column;
            position: relative;
            width: 100%;
            height: 0; // to allow scrolling
            top: 0;
            left: 0;
            padding: 0 var(--file-padding-leftright);
            font-size: 2em;

            &, * { box-sizing: border-box; }
            img { user-select: none; }

            .title-container {
                z-index: 2;
                position: relative;
                font-size: var(--header-ptitle-size);
                line-height: var(--title-lineH);
                margin-bottom: var(--header-ptitle-margin-bottom);
                padding-top: var(--file-padding-topbottom);

                .project-title {
                    font-weight: 400;
                    pointer-events: all;
                    user-select: text;
                }
            }

            .project-container {
                .main, .secondary {
                    position: relative;
                    height: 100%;
                    user-select: none;

                    img {
                        display: block;
                        width: auto;
                        height: 100%;
                        object-fit: contain;
                    }
                }
            }

            .project-main-container {
                z-index: 1;
                display: inline-flex;
                position: relative;
                left: 0;
                width: 100%;
                //height: 100%;
                //height: calc(80vh - (var(--file-padding-topbottom) + (var(--header-ptitle-size) * var(--title-lineH)) + var(--header-ptitle-margin-bottom)));

                .project-main {
                    flex-shrink: 0.3;
                    user-select: none;
                }
                &[project-type="img"] .project-main {
                    max-width: 70%;
                    //max-height: 110vh;
                    object-fit: contain;
                    background-position: center;
                    background-size: contain;
                    background-repeat: no-repeat;
                }
                &[project-type="yt"] .project-main,
                &[project-type="embed"] .project-main {
                    position: relative;
                    height: 90vh;

                    iframe {
                        position: absolute;
                         // be sure to cover container
                        top: -1px;
                        left: -1px;
                        width: calc(100% + 2px);
                        height: calc(100% + 2px);
                        //width: 100%;
                        //height: 100%;
                    }
                }
                .project-main[aspect-ratio="16:9"] {
                    --width: 70vw;
                    --ratio: calc(9 / 16);
                }
                .project-main[aspect-ratio="1:1"] {
                    flex-shrink: 0;
                    --width: 45vw;
                    --ratio: 1;
                }
                .project-main[aspect-ratio] {
                    width: var(--width);
                    height: calc(var(--width) * var(--ratio));
                }

                .data-container {
                    flex-grow: 0;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    //min-width: clamp(15em, 30vw, 25em);
                    padding: 1rem 1.5rem;

                    .top, .bottom {
                        position: relative;
                        right: 0;
                        width: 100%;
                    }
                    .bottom {
                        bottom: 0;
                    }

                    .contexts, .filters {
                        user-select: none;
                    }
                    .contexts {
                    }
                    .filters {
                    }

                    .date, .catchphrase {
                        font-weight: 400;
                    }
                    .date {
                        span {
                        }
                    }
                    .catchphrase {
                    }
                }
            }

            .project-secondary-container {
                .secondary-head {

                }

                .project-container {
                    // width: calc(100% + var(--file-padding-leftright) * 2);
                    // right: var(--file-padding-leftright);
                    // position: relative;
                    width: 100%;
                }
            }
        }

        .description {
            & > div {
                height: 1200px; // TEMP
            }
        }


        opacity: 1;
        transition: opacity 0s;
        &.anim-pre {
            opacity: 0;
        }
        &.anim-clear {
            opacity: 0;
            transition: opacity 0.5s;
            pointer-events: none !important;
        }
    }
}