@import './assets/fonts.scss';
@import './assets/default-custom.scss';
@import './assets/overlayscrollbars.scss';
@import './assets/error-frame.scss';

:root {
    --y-w1: rgb(236, 239, 242);
    --y-w2: rgb(250, 253, 255);
    --y-b1: rgb(29, 27, 27);
    --y-b2: rgb(40, 42, 45);
    --y-rv: 239, 59, 102;
    --y-r1: rgb(var(--y-rv));

    --title-weight: 650;

    --pill_bg: var(var(--y-b2));

    --scroll-quick-tr: 0.25s cubic-bezier(0.05, 1, 0.3, 1);
    --scroll-ice-tr: 1s cubic-bezier(0, 1, 0.5, 1);
}
::selection {
    color: white;
    background-color: rgba(var(--y-rv), 1);
    //background-color: var(--y-b1);
}
html {
    overflow: hidden;
}
body {
    margin: 0;
    background-color: var(--y-b1);
    color: var(--y-w1);
    font-family: "Montserrat", sans-serif;
    font-size: clamp(8px, 0.85vw, 10px);
    font-weight: 600;
    line-height: 1;
    -webkit-tap-highlight-color: transparent;
    overflow-x: hidden;
}

#content-container {
    position: absolute !important;
    width: 100%;
    height: 100%;
    overflow-y: visible;
    overflow-x: hidden;
}

.content-sections {
    margin: 0;
    position: relative;
    width: 100%;
    min-height: 100vh;
}
//.content-sections#landing {
//    background-color: rgba(255,0,0,0.1);
//}
//.content-sections#recent-projects {
//    background-color: rgba(0,255,0,0.1);
//}
//.content-sections#filters {
//    background-color: rgba(0,0,255,0.1);
//}
.content-sections#contact {
    background-color: rgba(0,0,0,1);
}

[class*="title-"] {
    display: inline-block;
    text-transform: lowercase;
    font-weight: var(--title-weight);
    line-height: 0.95;
    user-select: none;
    pointer-events: none;
}

// FILTER PILLS
// "experiment|photo|illustration|3D|motion|type|poster|print|logo|vector|layout|ad"
.f-pill { // default
    --pill-c: var(--y-w1);
    --pill-bg: var(--y-b2);
}
[filter-id="experiment"] {
    --pill-bg: #a50000;
}
[filter-id="photo"] {
    --pill-bg: #008f00;
}
[filter-id="illustration"] {
    --pill-bg: #ba6e16;
}
[filter-id="logo"] {
    --pill-bg: #2278b0;
}

.f-pill {
    overflow: hidden;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    flex-shrink: 0;
    vertical-align: middle;
    position: relative;
    margin: 0.3em 0;
    margin-right: 0.5em;
    &:first-child { margin-left: 0; }
    padding: 0.25em 0.75em;
    border-radius: 99em;
    font-size: 1em;
    font-weight: 450;
    letter-spacing: -0.25px;
    white-space: nowrap;
    color: var(--pill-c);
    background-color: var(--pill-bg);
    cursor: pointer;
    user-select: none;
    transition: color 0.7s cubic-bezier(0.2, 0.6, 0, 1),
                background-color 0.7s cubic-bezier(0.2, 0.6, 0, 1);

    & > * {
        pointer-events: none;
    }
    & > *:not(:last-child) {
        margin-right: 0.35em;
    }
    & > svg { // vector icons
        position: relative;
        bottom: 0.03em;
        width: 1em;
        height: 1em;
        fill: var(--pill-c);

        &.stroke {
            fill: none;
            stroke-width: 2;
            stroke: var(--pill-c);
        }
    }
    & > img { // img icons
        width: 1em;
        height: 1em;
        object-fit: contain;
    }
    & > span { // label
        white-space: nowrap;
        display: inline-block;
    }
}
.f-pill.filter:hover,
.f-pill.filter[state="true"] {
    color: var(--y-b1);
    background-color: var(--y-w1);
    transition: color 0.6s cubic-bezier(0.1, 0.6, 0, 1),
                background-color 0.6s cubic-bezier(0.1, 0.6, 0, 1);
}
.f-pill.date {
    & > svg {
        bottom: 0;
        transform: rotateZ(0deg);
        transition: transform 1.2s cubic-bezier(0.7, 0.8, 0, 1);
    }
    &[state="true"] > svg {
        transform: rotateZ(900deg);
    }
}

// REUSABLE
// filters container
.filters {
    display: inline-block;
    user-select: none;
    pointer-events: all;
}
.no-f .filters {
    pointer-events: none;
}

.project-title {
    display: block;
    font-weight: 500;
    text-transform: lowercase; // TODO temporary
}
.thumbnail {
    position: relative;
    overflow: hidden;
    pointer-events: none;
    user-select: none;

    & > img {
        width: 100%;
        min-height: 5em;
    }
}

// LANDING (TEMPORARY)
.content-sections#landing {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 8em;
    user-select: none;

    .main-title {
        font-size: 1em;
        font-weight: 600;
    }
    .scroll-down-notice {
        position: absolute;
        bottom: 5em;
        font-size: 0.25em;
        font-weight: 400;
    }
}


// RECENT WORKS
.content-sections#recent-projects {
    overflow: hidden;
    --col1-w: calc(100% * (3 / 7));

    .col1, .col2 {
        position: absolute;

        & {
            pointer-events: none;

            & > .in > * {
                pointer-events: all;
            }
        }
    }
    .col1 {
        z-index: 2;
        top: 0;
        left: 0;
        width: var(--col1-w);
        max-width: var(--col1-w);
        height: 100%;
        //background-color: rgba(0,0,0,0.3);
    }
    .col2 {
        z-index: 1;
        top: 0;
        right: 0;
        width: 100%;
        height: 100vh;

        .in {
            position: relative;
            left: var(--col1-w);
            width: calc(100% - var(--col1-w));
        }
    }

    #intro-rp {
        font-size: 2.5em;

        .in {
            padding: 3em;
            box-sizing: border-box;

        }
        &.fixed .in {
            width: inherit;
        }
        &:not(.fixed) .in {
            width: 100%;
        }

        .title-recent {
            font-size: clamp(3em, 7.75vw, 4em);
        }

        .goto_filters-txt {
            display: inline-flex;
            align-items: center;
            margin-top: 2.5em;
            font-size: 0.9em;
            font-weight: 500;
            letter-spacing: 0px;
            cursor: pointer;
            user-select: none;
            transition: font-weight 0.6s cubic-bezier(0.35, 0.5, 0, 1),
                        letter-spacing 0.6s cubic-bezier(0.3, 0.5, 0, 1);

            .arrow-right {
                overflow: visible;
                position: relative;
                left: 0.2em;
                height: 0.85em;
                fill: none;
                stroke-width: 3;
                stroke: var(--y-w1);
                transition: stroke-width 0.6s cubic-bezier(0.3, 0.6, 0, 1),
                            transform 0.55s cubic-bezier(0.3, 0.7, 0, 1);
            }

            &:hover {
                font-weight: 800;
                letter-spacing: -0.4px;
                transition: font-weight 0.4s cubic-bezier(0.35, 0.4, 0, 1),
                            letter-spacing 0.4s cubic-bezier(0.4, 0.4, 0, 1);

                .arrow-right {
                    stroke-width: 5;
                    transform: translateX(0.45em);
                    transition: stroke-width 0.5s cubic-bezier(0.3, 0.6, 0, 1),
                                transform 0.4s cubic-bezier(0.2, 0.6, 0, 1);
                }
            }
            &:hover:active {

                .arrow-right {
                    transform: translateX(0.15em);
                    transition: stroke-width 0.5s cubic-bezier(0.3, 0.6, 0, 1),
                                transform 0.3s cubic-bezier(0, 0.7, 0, 1);
                }
            }
        }
    }

    #recent-projects-slides {
        z-index: 1;

        .recent-slides {
            position: absolute;
            width: 100%;
            height: 100vh;
            font-size: 1.75em;
            transition: top var(--scroll-quick-tr);

            .in {
                height: inherit;
            }

            .thumbnail {
                --h : calc(100% * (2 / 3));
                height: var(--h);
                max-height: var(--h);

                & img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .project-title {
                display: block;
                margin: 0.4em 0 0.3em;
                font-size: 3.5em;
                font-weight: 500;
                text-transform: lowercase;
            }
        }
    }

    #recent-projects-actions {
        z-index: 0;
        position: absolute;
        top: 0;
        // left: var(--col1-w);
        // width: calc(100% - var(--col1-w));
        height: 100%;
        opacity: 0;

        .in {
            height: 100%;
        }

        & .actions[project-id] {
            display: block;
            position: relative;
            width: 100%;
            cursor: pointer;
        }
    }

    #recent-projects-slides,
    #recent-projects-actions {
        transition: transform var(--scroll-quick-tr);
    }
}


// FILTERS
.content-sections#filters {
    --p: 5rem;

    #intro-filters {
        position: relative;
        width: 100%;
        height: 100vh;

        .in {
            display: flex;
            flex-direction: column;
            justify-content: center;
            position: absolute;
            box-sizing: border-box;
            padding: 0 var(--p);
            text-align: left;
            font-size: 2em;

            left: 0;
            bottom: 0;
            width: 100%;
            height: 100%;

            .title-filters {
                margin-bottom: 0.75em;
                font-size: clamp(2.5em, 7.75vw, 3.5em);
            }

            .filters-selector {
                display: flex;
                flex-direction: column;
                width: 100%;
                user-select: none;
                pointer-events: all;

                .secondary {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    margin-top: 0.65em;
                    font-size: 1em;
                    overflow: hidden;

                    & .animate {
                        height: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        transform: translateY(0);
                        transition: transform 0.6s cubic-bezier(0.15, 0.5, 0, 1);
                    }
                    &.hidden {
                        .animate {
                            transform: translateY(-100%);
                            transition: transform 0.75s cubic-bezier(0.45, 0, 0, 1);
                            transition-delay: 0s !important;
                        }
                    }
                }

                .clear-filters-button {
                    --pill-bg: var(--y-w1);
                    --pill-c: var(--y-b2);
                }

                .filter-projects-number {
                    margin-left: 0.25em;
                    font-size: 1em;
                    font-weight: 325;
                    letter-spacing: -0.1px;
                    pointer-events: none;
                    & > * {
                        opacity: 0.5;
                    }

                    & [anim-count] {
                        display: inline-block;
                        margin-right: 0;
                        transition: opacity 0.5s ease, color 0.5s ease,
                                    font-weight 0.4s cubic-bezier(0.35, 0.4, 0, 1),
                                    margin-right 0.7s cubic-bezier(0.25, 0.7, 0, 1);

                        &.counting {
                            margin-right: 0.15em;
                            font-weight: 600;
                            opacity: 1;
                            color: var(--y-r1);
                            transition: opacity 0.5s ease, color 0.5s ease,
                                        font-weight 0.4s cubic-bezier(0.35, 0.4, 0, 1),
                                        margin-right 0.5s cubic-bezier(0.2, 0.6, 0, 1);
                        }
                        &.none {
                            @keyframes none-count {
                                0% { transform: translateX(0em); }
                                    6% { transform: translateX(-0.25em); }
                                        13% { transform: translateX(0.075em); }
                                    20% { transform: translateX(-0.15em); }
                                        35% { transform: translateX(0.05em); }
                                    60% { transform: translateX(-0.025em); }
                                        80% { transform: translateX(0.005em); }
                                100% { transform: translateX(0em); }
                            }
                            animation: none-count 1.75s 0s ease;
                            transform: translateX(0);
                            margin-right: 0.06em;
                            font-weight: 550;
                            opacity: 0.75;
                            color: #ff0000;
                        }
                    }
                }
            }
        }
    }

    #projects-list {
        padding: var(--p);
        padding-top: var(--p); // TODO var(--p) + intro content height
        padding-bottom: 10rem;
        width: 100%;
        box-sizing: border-box;

        [column-group] {
            position: relative;
            top: 0;
            left: 0;
            display: flex;
            flex-direction: row;

            &:not([column-group="3"]) {
                display: none;
                position: absolute;
            }
        }
        [column] {
            display: flex;
            flex-direction: column;
            flex: 1;
            &:not(:last-child) { padding-right: 2.5em; }
            transition: transform var(--scroll-ice-tr);

            & {
                transform: translateY(calc(var(--col-scroll-offset, 0) / 4));
            }
            &:nth-child(2n+2) {
                transform: translateY(var(--col-scroll-offset, 0));
            }
        }

        .project-cards {
            display: flex;
            flex-direction: column;
            position: relative;
            width: 100%;
            font-size: 1.4em;
            padding-bottom: 4em;
            box-sizing: border-box;
            user-select: none;

            .thumbnail {

                > * {
                    border-radius: 2px;
                }
            }

            .header {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                font-size: 2em;
            }

            .project-title {
                font-size: 1em;
                font-weight: 400;
                margin: 0.5em 0;
                position: relative;
                display: inline-block;
            }

            .video-quick-popup-button {
                flex-shrink: 0;
                width: 1em;
                height: 1em;
                margin: 0.5em 0;
                margin-left: 0.33em;
                border-radius: 2em;
                overflow: hidden;
                cursor: pointer;

                > * {
                    width: 100%;
                    height: 100%;
                }
            }

            .filters {
                .f-pill {
                    margin: 0.2em 0;
                    margin-right: 0.4em;
                }
            }
        }
    }

}