.ERROR {
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 2rem;
    letter-spacing: 0.5px;
    background-color: var(--y-b1, #1d1b1b);
    color: var(--y-w1, #eceff2);
    overflow-x: hidden;
    overflow-y: auto;

    & > div {
        transform: skewY(var(--shearY-p));
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .t::after {
        content: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" style="color:rgb(29, 31, 32);" viewBox="0 0 25 25"><path fill="currentColor" d="M8.8,6.5l2.9,2.2L10,9.1L8.8,6.5 M3.8,0.2l5,11.3l3.9-1l2.1-1.9L3.8,0.2L3.8,0.2z"/><path fill="currentColor" d="M16.3,7.4L15,10.8l-1,2.7l-1.7,4.4L11,12.2L16.3,7.4 M21.2,0.2L21.2,0.2L21.2,0.2z M21.2,0.2 L8.8,11.5l2.9,13.4l4.1-10.7l1-2.7L21.2,0.2L21.2,0.2z"/></svg>');
        position: absolute;
        top: -25%;
        left: 50%;
        min-width: 65px;
        max-width: 180px;
        width: 7.5vw;
        height: 7.5vw;
        transform: skewY(calc(0deg - var(--shearY-p))) translate(-50%, -50%);
    }

    .t {
        font-size: 4.5rem;
        letter-spacing: 1px;
        white-space: break-spaces;
        background-color: var(--y-w1, #eceff2);
        color: var(--y-b1, #1d1b1b);
    }

    .l {
        text-decoration: none;
        background-color: var(--y-b2, #282a2d);
        transition: background-color 0.7s cubic-bezier(0.3, 0.6, 0, 1);

        & > span {
            display: inline-flex;
            align-items: center;
            padding: 10px 35px;
            transform: scale(1);
            font-size: 2rem;
            white-space: break-spaces;
            background-color: var(--y-b1, #1d1b1b);
            color: var(--y-w1, #eceff2);
            transition: transform 0.6s cubic-bezier(0.1, 0.7, 0, 1),
                        color 0.7s cubic-bezier(0.2, 0.7, 0, 1);

            &::after {
                content: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" style="color:rgb(29, 31, 32);" viewBox="0 0 32 32"><path fill="currentColor" d="M21.5,20.5v4h-14v-14h4c1.7,0,3-1.3,3-3l-10,0v20h20l0-10C22.8,17.5,21.5,18.8,21.5,20.5z"/><path fill="currentColor" d="M14.5,17.5L14.5,17.5c-0.6-0.6-0.6-1.5,0-2.1l8.9-8.9l2.1,2.1l-8.9,8.9C16,18.1,15.1,18.1,14.5,17.5z M24.5,7.5h-7l0-3h10v10l-3,0V7.5z"/></svg>');
                display: inline-block;
                margin-left: 0.5rem;
                width: 2.15rem;
                height: 2.15rem;
            }
        }

        &:hover, &:active {
            background-color: var(--y-g1, #ccced0);

            & > span {
                color: var(--y-w2, #fafdff);
            }
        }
        &:hover > span {
            transform: scale(1.075);
        }
        &:active > span {
            transform: scale(0.985);
            transition: 0.2s cubic-bezier(0.05, 0.7, 0, 1);
        }
    }

    & > div {
        & > span:nth-child(2) {
            font-size: 2rem;
        }

        & > *:nth-child(2) {
            margin-top: 5vh;
        }

        & > *:nth-child(1n+3) {
            margin-top: 2vh;
        }
    }

    .t, .l {
        padding: 15px 70px;
    }
}

noscript .ERROR {
    z-index: 1000;
}

@media (max-width: 1000px) {
    .ERROR {
        font-size: 0.85rem;

        .t {
            font-size: 1.75rem;
            letter-spacing: 0.75px;
        }
        .l {
            & > span {
                padding: 8px 17.5px;
                font-size: 0.9rem;

                &::after {
                    margin-left: 0.3rem;
                    min-width: 1.3rem;
                    width: 1.3rem;
                    min-height: 1.3rem;
                    height: 1.3rem;
                }
            }
        }

        &> div > span:nth-child(2) {
            font-size: 1.15rem;
        }

        .t, .l {
            padding: 12.5px 35px;
        }
    }
}