@font-face {
    font-family: "Montserrat";
    src: url('./assets/fonts/Montserrat.ttf') format('ttf');
}
@font-face {
    font-family: "Montserrat";
    src: url('./assets/fonts/Montserrat-Italic.ttf') format('ttf');
    font-style: italic;
}
@font-face {
    font-family: "Plus Jakarta Sans";
    src: url('./assets/fonts/PlusJakartaSans.ttf') format('ttf');
}
@font-face {
    font-family: "Plus Jakarta Sans";
    src: url('./assets/fonts/PlusJakartaSans-Italic.ttf') format('ttf');
    font-style: italic;
}