@font-face {
    font-family: "Montserrat";
    src: url('./assets/fonts/Montserrat.ttf');
    font-weight: 1 999;
}
@font-face {
    font-family: "Montserrat";
    src: url('./assets/fonts/Montserrat-Italic.ttf');
    font-weight: 1 999;
    font-style: italic;
}
@font-face {
    font-family: "Plus Jakarta Sans";
    src: url('./assets/fonts/PlusJakartaSans.ttf');
    font-weight: 1 999;
}
@font-face {
    font-family: "Plus Jakarta Sans";
    src: url('./assets/fonts/PlusJakartaSans-Italic.ttf');
    font-weight: 1 999;
    font-style: italic;
}
@font-face {
    font-family: "Chivo Mono";
    src: url('./assets/fonts/ChivoMono.ttf');
    font-weight: 1 999;
}
@font-face {
    font-family: "Chivo Mono";
    src: url('./assets/fonts/ChivoMono-Italic.ttf');
    font-weight: 1 999;
    font-style: italic;
}