/*- Yolan'Art OverlayScrollbars Custom CSS -*/

@keyframes os-opacity-in {
    0% { opacity: 0; }
    75% { opacity: 0; }
    100% { opacity: 1; }
}

.os-scrollbar {
    width: 1em !important;
    font-size: 1.75em;
    transform: scaleY(1.01) translateX(1px);
    padding: 0 !important;
    mix-blend-mode: difference !important;
    box-sizing: initial !important;
    transition: opacity 0.9s cubic-bezier(0.2, 0.85, 0, 1),
                transform 0.4s cubic-bezier(0.4, 0.6, 0, 1),
                visibility 0.7s, top 0.3s, right 0.3s, bottom 0.3s, left 0.3s,
                backdrop-filter 0.8s cubic-bezier(0.15, 0.8, 0, 1) !important;
    animation: os-opacity-in 0.8s ease;
}
.os-scrollbar.os-scrollbar-unusable,
.os-scrollbar.os-scrollbar-auto-hidden,
html.is-changing .os-scrollbar {
    opacity: 0;
    transform: scaleY(1.01) translateX(100%);
    transition: opacity 0.4s 0.15s cubic-bezier(0.6, 0.6, 0, 1),
                transform 0.6s 75ms cubic-bezier(0.4, 0.25, 0, 1),
                visibility 0.8s, top 0.3s, right 0.3s, bottom 0.3s, left 0.3s,
                backdrop-filter 0.5s !important;
}
.os-scrollbar-track {
    display: flex;
    justify-content: center;
    border-radius: 0 !important;
    transition: background-color 0.8s cubic-bezier(0.15, 0.8, 0, 1) !important;
}
.os-scrollbar-handle {
    width: 0.35em;
    border-radius: 0 !important;
    background-color: rgba(255, 255, 255, 0.925) !important;
    cursor: pointer !important;
}
.os-scrollbar-vertical .os-scrollbar-handle::before {
    width: 1.2em;
    left: 50% !important;
    right: 0 !important;
    transform: translateX(-50%);
}
.os-scrollbar.active .os-scrollbar-track {
    background-color: rgba(236, 239, 242, 0.1) !important;
}
// .os-scrollbar-handle:hover {
//     background-color: rgba(255, 255, 255, 0.2) !important;
// }
.os-scrollbar-handle:hover,
.os-scrollbar-handle.active {
    width: 0.65em;
}
.os-viewport.disabled {
    overflow: hidden !important;
}
@supports (backdrop-filter: invert(1)) {
html:not(.isChr) { // broken on chrome, invisible
        .os-scrollbar {
            mix-blend-mode: normal !important;
            backdrop-filter: grayscale(0) contrast(1);
        }
        .os-scrollbar-handle {
            background-color: transparent !important;
            backdrop-filter: invert(1) grayscale(1) contrast(3);
        }
        .os-scrollbar.active .os-scrollbar-track {
            background-color: transparent !important;
        }
        .os-scrollbar.active {
            backdrop-filter: grayscale(1) contrast(0.85);
        }
    }
}
html, html.isChr {
    .os-scrollbar-handle.active {
        border-radius: 1em !important;
        background-color: rgba(255, 255, 255, 0.35) !important;
        background-color: var(--y-r1) !important;
    }
}

@media (min-width: ($mini-tablet + 1)) {
    .os-scrollbar-handle {
        transition: background-color 0.8s cubic-bezier(0.15, 0.8, 0, 1),
                    opacity 0.8s cubic-bezier(0.15, 0.8, 0, 1),
                    border-radius 0.5s cubic-bezier(0.3, 0.5, 0, 1),
                    transform 0.375s cubic-bezier(0, 0.6, 0, 1),
                    height 0.55s cubic-bezier(0.1, 0.7, 0, 1),
                    width 0.2s cubic-bezier(0.05, 0.7, 0, 1) !important;
    }
    html.isChr .os-scrollbar.active .os-scrollbar-handle {
            transition: background-color 0.8s cubic-bezier(0.15, 0.8, 0, 1),
                        opacity 0.8s cubic-bezier(0.15, 0.8, 0, 1),
                        transform 0s,
                        height 0.4s cubic-bezier(0, 0.6, 0, 1),
                        backdrop-filter 0.8s cubic-bezier(0.3, 0.8, 0, 1) !important;
    }
}

@media (max-width: $mini-tablet) {
    .os-scrollbar {
      font-size: 1.2em;
    }
    .os-scrollbar-handle {
        transition: background-color 0.8s cubic-bezier(0.15, 0.8, 0, 1),
                    opacity 0.8s cubic-bezier(0.15, 0.8, 0, 1),
                    transform 0s,
                    height 0.4s cubic-bezier(0, 0.6, 0, 1) !important;
    }
}

@media (max-width: $mini-mobile) {
    .os-scrollbar {
        font-size: 1em;
    }
}
html.isTouch {
    .os-scrollbar {
        pointer-events: none !important;
    }
    .os-scrollbar * {
        pointer-events: inherit !important;
    }
}